/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #ecf0f1;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #34495e;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

form {
    margin: 20px auto;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.error {
    color: red;
    text-align: center;
}

.weather-info {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    transition: transform 0.2s;
}

.weather-info:hover {
    transform: translateY(-5px);
}

.weather-info img {
    width: 70px; /* Tamaño del icono */
    vertical-align: middle;
}

.weather-info p {
    margin: 5px 0;
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    input[type="text"] {
        width: 90%;
    }

    button {
        width: 90%;
    }
}
