<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima y Pronóstico UV</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1>Clima y Pronóstico UV</h1>
        </nav>
    </header>

    <form method="POST" action="/">
        <label for="city">Introduce tu ciudad:</label>
        <input type="text" id="city" name="city" placeholder="Ejemplo: Madrid" required>
        <button type="submit" class="btn-submit">Buscar</button>
    </form>

    {% if error %}
        <div class="container error">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    {% if weather_data %}
        <div class="container weather-info">
            <h2>Información de {{ city_info.name }}, {{ city_info.state }}, {{ city_info.country }}</h2>
            <p>Latitud: {{ city_info.lat }}</p>
            <p>Longitud: {{ city_info.lon }}</p>
            <p>Descripción: {{ weather_data['weather'][0]['description'] }}</p>
            <p>Icono: <img src="http://openweathermap.org/img/wn/{{ weather_data['weather'][0]['icon'] }}@2x.png" alt="Icono del clima: {{ weather_data['weather'][0]['description'] }}"></p>
            <p>Temperatura: {{ weather_data['main']['temp'] }}°C</p>
            <p>Máxima: {{ weather_data['main']['temp_max'] }}°C</p>
            <p>Mínima: {{ weather_data['main']['temp_min'] }}°C</p>
            <p>Sensación térmica: {{ weather_data['main']['feels_like'] }}°C</p>
            <p>Humedad: {{ weather_data['main']['humidity'] }}%</p>
            <p>Viento: {{ weather_data['wind']['speed'] }} m/s</p>
            <p>Dirección del viento: {{ weather_data['wind']['deg'] }}°</p>
            <p>Presión: {{ weather_data['main']['pressure'] }} hPa</p>
            <p>Visibilidad: {{ weather_data['visibility'] / 1000 }} km</p>
            {% if 'rain' in weather_data %}
                <p>Lluvia en la última hora: {{ weather_data['rain'].get('1h', 0) }} mm</p>
            {% else %}
                <p>No se ha registrado lluvia en la última hora.</p>
            {% endif %}
            <p>Nubes: {{ weather_data['clouds']['all'] }}%</p>
            <p>Amanecer: {{ sunrise.strftime('%H:%M:%S') }}</p>
            <p>Anochecer: {{ sunset.strftime('%H:%M:%S') }}</p>
        </div>
    {% else %}
        <p>No se pudo obtener la información del clima.</p>
    {% endif %}

    {% if current_uvi %}
        <div class="container uvi-info">
            <h2>Índice UV Actual</h2>
            <p>Valor: {{ current_uvi['value'] }}</p>
            <img src="{{ uv_plot_url }}?city={{ city_name }}" alt="Gráfica de Índice UV para {{ city_name }}">
        </div>
        <div class="container uv-calculator">
            <h2>Calculadora de Bronceado (Dosis UV)</h2>
            <form method="POST" action="/">
                <input type="hidden" name="city" value="{{ city_name }}"> <!-- Mantener la ciudad actual -->
                
                <label for="hora_inicio">Hora de inicio (HH:MM):</label>
                <input type="time" id="hora_inicio" name="hora_inicio" required>
                <br>
                <br>

                <label for="hora_fin">Hora de fin (HH:MM):</label>
                <input type="time" id="hora_fin" name="hora_fin" required>
                <br>
                <br>
                <button type="submit" class="btn-submit">Calcular Dosis UV</button>
            </form>
    
            {% if dosis_uv %}
                <div class="result">
                    <h3>Resultado de la Dosis UV</h3>
                    <p>Dosis total recibida: {{ dosis_uv }} mJ/cm²</p>
                    <p>Desde: {{ hora_inicio }}</p>
                    <p>Hasta: {{ hora_fin }}</p>
                </div>
            {% endif %}
        </div>
    {% else %}
        <p>No se pudo obtener el índice UV actual.</p>
    {% endif %}
    
    {% if uvi_forecast %}
        <div class="container uvi-forecast">
            <h2>Pronóstico de Índice UV</h2>
            <ul>
                {% for forecast in uvi_forecast %}
                    <li>{{ forecast['date_iso'] }}: Valor UV - {{ forecast['value'] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No se pudo obtener el pronóstico del índice UV.</p>
    {% endif %}

    <footer>
        <p>Datos proporcionados por OpenWeatherMap. Desarrollado por WEQREA.</p>
    </footer>
</body>
</html>